.thb-bg-list-parent {
	position: relative;
	background: #000;
	overflow: hidden;
	.thb-bg-list-bg {
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 0;
		overflow: hidden;
		.thb-bg-list-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.columns {
		position: relative;
		z-index: 1;
	}
	
	&.style1 {
		.columns {
			&:not(:first-child) .thb-bg-list {
				border-top: 1px solid rgba(#fff,0.2);
				@include min-break($break-small) {
					border-top: 0;
					border-left: 1px solid rgba(#fff,0.2);
				}
			}
		}
		
		
		.thb-bg-list {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding: 25px;
			color: #fff;
			
			@include min-break($break-small) {
				padding: 45px;
			}
			@include min-break($break-xlarge) {
				padding: 65px;
			}
			h1,h2,h3,h4,h5,h6 {
				color: #fff;
			}
			p {
				font-size: 14px;
			}
			&.has-btn {
				.list-content-container {
					@extend .quick-transition;
				}
				&:hover {
					.list-content-container {
						@include translateY(-60px);
						
						@include min-break($break-small) {
							@include translateY(-75px);
						}
						@include min-break($break-xlarge) {
							@include translateY(-105px);
						}
					}
					.thb-bglist-btn { 
						opacity: 1;
						@include translateY(0%);
					}
				}
				
			}
			.thb-bg-list-title {
				h4 {
					font-weight: 400;
				}
			}
			.thb-bglist-btn {
				position: absolute;
				bottom: 25px;
				left: 25px;
				opacity: 0;
				padding: 0 20px;
				max-width: 100%;
				@include translateY(100%);
				@include min-break($break-small) {
					bottom: 45px;
					left: 45px;
				}
				@include min-break($break-xlarge) {
					bottom: 65px;
					left: 65px;
				}
			}
		}
	}
	
	
}