/* Testimonials */
.thb-testimonials {
	&.thb-carousel {
		max-height: 300px;
		opacity: 0;
		@extend .quick-transition;
	}
	
	&.slick-initialized {
		opacity: 1;
		max-height: 100%;
	}
	.star-rating {
		margin-bottom: 30px;
	}
	.author_image {
		display: inline-block;
		margin: 0 0 20px;
		padding: 0;
		width: 70px;
		height: 70px;	
		border-radius: 35px;
	}
	blockquote {
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 35px;	
	}
	cite {
		display: block;
		color: $color1;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 1;
		margin-top: 0;
		margin-bottom: 5px;
		&:before {
			display: none;
		}	
	}
	.title {
		font-size: 12px;
		color: $color1;
		font-weight: 400;
		line-height: 1;
		opacity: 0.6;
	}
	&.style1 {
		text-align: center;
		
		.author_image {
			display: none;
		}
	} /* .style1 */
	&.style2 {
		text-align: center;
		blockquote {
			p {
				font-size: 26px;
				font-weight: 500;
			}	
		}
		cite {
			&:before {
				display: inline;
			}		
		}
	} /* .style2 */
	&.style3 {
		text-align: center;
		.thb-testimonial {
			border: 1px solid rgba(0,0,0,0.07);
			padding: 15%;
			blockquote {
				padding-left: 0;
				padding-right: 0;
				p {
					font-size: 16px;
				}	
			}
		}
	} /* .style3 */
	&.style4 {
		blockquote {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
			p {
				font-size: 26px;
				font-weight: 500;
			}	
		}
		cite {
			font-size: 14px;
			display: inline-block;
			&:before {
				display: inline;
			}		
		}
		.columns {
			padding: 0;
		}
		.title {
			font-size: 14px;
		}
	} /* .style4 */
	
	&.style5 {
		@include box-shadow(0 3px 24px rgba(#000, 0.10));
		
		.row.no-padding {
			position: relative;
			background: #fff;
			.review-full-link {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
			}
			.medium-4.columns {
				padding-right: 2%;
			}
		}
		
		.slick-slide {
			padding: 0;
		}
		
		.thb-testimonial {
			text-align: left;
			padding: 15px;
			height: 100%;
			
			@include min-break($break-small) {
				padding: 45px;
			}
			h4 {
				margin-bottom: 30px;
				@include min-break($break-medium) {
					font-size: 36px;
				}
			}
			
			blockquote {
				padding: 0;
				text-align: left;
				font-size: 16px;
				line-height: 1.6;
				p {
					font-size: inherit;
					line-height: inherit;
				}
			}
			
    }
    
    .review_image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
		.slick-nav {
			position: absolute;
			left: 15px;
			bottom: 15px;
			z-index: 99;
			width: 30px;
			height: 30px;
			@include min-break($break-small) {
				left: 45px;
				bottom: 45px;
			}
			
			&.thb-animated-arrow {
				border: 0;
				svg {
					width: 30px;
					height: 30px;
					fill: $black;
				}
			}
			
			&.slick-next {
				left: calc(15px + 30px);
				
				@include min-break($break-small) {
					left: calc(45px + 30px);
				}
			}
		}
		&[data-navigation="true"] {
			.thb-testimonial {
				padding-bottom: 45px;
  			@include min-break($break-small) {
  				padding-bottom: 80px;
  			} 
  		}
		}
	} /* .style5 */
  
  &.style6 {
		.thb-testimonial {
			margin-bottom: 40px;
			blockquote {
				padding: 0;
				text-align: left;
				margin-bottom: 25px;
				p {
					font-size: 16px;
				}
			}
			.star-rating {
				margin-bottom: 20px;
			}
			
			h4 {
				font-size: 18px;
				text-align: left;
			}
			
			cite {
				font-size: 14px;
				margin-bottom: 0;
				text-align: left;
			}
			.author_image {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				display: none;
			}
			&.has-avatar {
				
				@include min-break($break-small) {
					padding-left: 115px;
					position: relative;
					.author_image {
						display: block;
					}
				}
			}
		}
	} /* .style6 */
	&.style7 {
		.testimonial-author {
      display: flex;
      align-items: center;
      justify-content: center;
      cite,
      span {
        font-size: 18px;
        color: $color2;
        opacity: 1;
        margin: 0;
      }
      cite {
        font-weight: 600;
      }
      span {
        &:before {
        	display: inline;
        	content: " — ";
        }
      }
    }
    .thb-carousel .slick-dots .select {
      background: $color2;
    }
  } /* .style7 */
	&.style8 {
    text-align: center;
    
    .author_image {
    	display: none;
    }
    blockquote {
    	p {
    		font-size: 24px;
    		font-weight: 400;
    		@include min-break($break-small) {
          font-size: 48px;
        }
    	}	
    }
    h6 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.09em;
      font-size: 11px;
      margin-bottom: 5px;
    }
    .title {
      font-size: 14px;
    }
  } /* .style8 */
  
  .thb-light-column & {
		color: #fff;
		blockquote p,
		cite,
		.title,
		h6 {
			color: #fff;	
		}
	}
}