/* Blog Header */
.thb-page-header {
	text-align: center;
	margin-bottom: 10vh;

	@include min-break($break-small) {
		margin-bottom: 12vh;
	}
	h1 {
		margin-bottom: 0;
		line-height: 1;
		@include min-break($break-medium) {
			font-size: 70px;
		}
	}
	.searchform {
		margin-top: 5vh;
	}
	.thb-blog-categories {
		list-style: none;
		margin: 40px 0 0 0;
		padding: 0;
		text-align: center;
		li {
			display: block;
			text-align: center;

			@include min-break($break-small) {
				display: inline-block;
				padding: 0 14px;
			}
			a {
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: calc( 100% + 1px );
					left: 0;
					width: 100%;
					height: 1px;
					background: $color2;
					@include scale(0,1);
					transform-origin: 0 0;
					@extend .quick-transition;
				}
				&:hover:after {
					@include scale(1,1);
				}
			}
		}
	}
	&.style2 {
		margin-bottom: 10vh;
		padding-bottom: 10vh;
	}
	.header-color-light-header & {
		h1 {
			color: #fff;
		}

	}
}
/* Blog Container */
.blog_row {
	width: 100%;
}
.blog-main-container {
	display: flex;
	flex-direction: column;
	@include min-break($break-medium) {
		flex-direction: row;
	}
	.blog-container {
		flex: 1;
		&.blog-style6 {
			.row:not(.pagination-space) {
				.columns {
					display: flex;
				}
			}
		}
		&.blog-style5 {
			.columns {
				width: 100%;
			}
		}
		&.blog-style3 {
			.pagination {
				justify-content: flex-start;
			}
		}
		&.blog-style8 {
      .columns {
        display: flex;

        .post.style8 {
          width: 100%;
        }
      }
    }
    &.blog-style9 {
      .thb-toggle-blog {
        >.columns {
          &:first-of-type .style9 {
            padding-top: 0;
          }
        }
      }
    }
  }
}
.sidebar {
	width: 100%;
	padding: 0 15px;
	@include min-break($break-small) {
		padding: 0;
	}
	@include min-break($break-medium) {
		width: 350px;
		margin-left: 60px;
	}
}
/* Blog Posts */
.post {
	.post-category {
		font-size: 10px;
		font-weight: 500;
		margin-bottom: 15px;
		line-height: 1;
		text-transform: uppercase;

		a {
			color: $color1;
		}
	}
	.post-title {
		a {
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.post-content {
		margin-bottom: 15px;
		line-height: 1.8;
	}
	.post-meta {
		font-size: 14px;
		font-weight: 400;
	}
	.post-gallery {
		margin-bottom: 35px;
		position: relative;
		overflow: hidden;
		border-radius: 3px;
		img {
			border-radius: 3px;
			width: 100%;
			@include scale(1);
			backface-visibility: hidden;
			transform-origin: center center;
			@extend .linear-quick-transition;
		}
		a {
			display: block;
		}
		.post-gallery-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(0,0,0,0.4);
			border-radius: 3px;
			@extend .quick-transition;
			svg {
				fill: #fff;
				width: 50px;
				height: auto;
				opacity: 0;
				@include transform( translateX(-30px) scale(0.85));
				@extend .quick-transition;
			}
		}
	}  /* End .post-gallery */
	&:hover {
		&>.post-gallery {
			img {
				@include scale(1.05);
			}
			.post-gallery-overlay {
				opacity: 1;

				svg {
					opacity: 1;
					@include transform(translateX(0px) scale(1));
				}
			}
		}
	}

	&.sticky {
		.entry-title {
			text-decoration: underline;
		}
	}
	&.listing {
		display: flex;
		align-items: center;
		.post-gallery {
			margin-bottom: 0;
			margin-right: 30px;
			.count {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				font-size: 60px;
				font-weight: 500;
				line-height: 1;
				pointer-events: none;
			}
		}
		.attachment-post-thumbnail {
			width: 100px;
		}
		.listing_content {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.post-title {
				h6 {
					font-size: 14px;
					letter-spacing: normal;
					text-transform: none;
					margin-bottom: 5px;
				}
			}
			.post-meta {
				font-size: 12px;
			}
		}
	} /* End .listing */
	&.style1,
	&.style4 {
		margin-bottom: 30px;
		@include min-break($break-medium) {
			margin-bottom: 40px;
		}
		.post-title {
			h3 {
				font-size: 18px;
				font-weight: 600;
				margin-bottom: 10px;
			}
		}
		.post-content {
			p {
				font-size: 14px;
			}
		}
		.post-meta {
			font-size: 12px;
		}
	} /* End .style1 */
	&.style2 {
		.blog-post-container {
			position: relative;
			background: #fff;
			padding: 30px 15px;
			margin: 0;
			text-align:	center;
			@include min-break($break-small) {
				padding: 50px;
				margin: -90px 10% 0;
			}
		}
	} /* End .style2 */
	&.style3 {
		margin-bottom: 35px;

		.post-gallery {
			&>a {
				overflow: hidden;
				img {
					display: block;
					transform-origin: center;
					@include backface-visibility(hidden);
					@extend .quick-transition;
				}
			}
		}

		@include min-break($break-medium) {
			margin-bottom: 40px;

			.post-gallery {
				margin-bottom: 0;
			}
		}
		@include min-break($break-large) {
			margin-bottom: 50px;
		}
		.style3-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.post-content {
			margin-bottom: 20px;
			p {
				font-size: 16px;
				margin: 0;
			}
		}
		&:hover {
			.post-gallery {
				img {
					@include scale(1.05);
				}
			}
		}

		&.style3-border {
			border-bottom: 1px solid rgba(0,0,0,0.05);
			padding-bottom: 35px;

			@include min-break($break-medium) {
				padding-bottom: 40px;
			}
			@include min-break($break-large) {
				padding-bottom: 50px;
			}
		}
	} /* End .style3 */
	&.style5 {
		margin-bottom: 40px;
		width: 100%;
		.post-gallery {
			background-color: $black;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			position: relative;
			border-radius: 3px;
			margin: 0;
			height: 0;
			padding-bottom: 65%;
			overflow: hidden;
			@extend .cover-bg;

			&>a {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 3;
			}
			.half-height & {
				padding-bottom: calc( 65% + 15px );

				.post-title {
					h3 {
						@include min-break($break-small) {
							font-size: 30px;
						}
					}
				}
			}
			.wp-post-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				border-radius: 3px;
				pointer-events: none;
				z-index: 0;
				height: 100%;
				object-fit: cover;
				@extend .linear-quick-transition;
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 3px;
				overflow: hidden;
				pointer-events: none;
				z-index: 1;
				&:after {
					content: '';
					display: block;
					border-radius: 3px;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include translateY(10%);
					@extend .linear-quick-transition;
					@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.85)));
				}

			}
			.post-category {
				position: absolute;
				top: 15px;
				right: 15px;

				z-index: 5;
				@extend .quick-transition;
				@include min-break($break-small) {
					top: 30px;
					right: 30px;
				}
				a {
					color: #fff;
					border: 2px solid rgba(#fff, 0.4);
					text-transform: uppercase;
					color: #fff;
					display: flex;
					height: 32px;
					border-radius: 3px;
					justify-content: center;
					align-items: center;
					padding: 0 15px;
					margin-left: 5px;
					&:hover {
						border-color: #fff;
					}
				}
			}
			.style5-content-container {
				position: absolute;
				bottom: 15px;
				left: 15px;
				right: calc( 10% + 15px );
				z-index: 7;
				@include min-break($break-small) {
					bottom: 40px;
					left: 40px;
					right: calc( 10% + 40px );
				}
			}
			.post-meta {
				color: #fff;
				opacity: 0.6;
			}
			.post-title {
				h3 {
					font-size: 16px;
					margin-bottom: 10px;
				}
				a {
					text-transform: uppercase;
					color: #fff;
					font-weight: 600;
					text-decoration: none;
				}
			}
			&.large-title {
				.post-title {
					h3 {
						font-size: 30px;
					}
				}
			}
		} /* End .post-gallery */
		&:hover {
			.post-gallery {
				.overlay:after {
					@include translateY(0%);
				}
			}
		}
	} /* End .style5 */
	&.style6 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-bottom: 6px solid rgba(#000,0.05);
		margin-bottom: 40px;
		@extend .quick-transition;

		@include ie11() {
			display: block;
		}

		.post-gallery {
			margin-bottom: 40px;
			overflow: hidden;
			border-radius: 3px;

		}
		.post-content p {
			font-size: 14px;
		}
		.post-title {
			h3 {
				font-size: 26px;
				font-weight: 400;
			}
		}
		.post-meta {
			font-size: 12px;
			opacity: 0.6;
			margin-bottom: 30px;
		}
		&:hover {
			border-color: $black;

		}
	} /* End .style6 */
	&.style7 {
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		padding-bottom: 35px;
		border-bottom: 1px solid rgba(0,0,0,0.05);

		.post-gallery {
			margin-right: 20px;
			margin-bottom: 0;
			width: 75px;

			@include min-break($break-small) {
				width: 150px;
				margin-right: 35px;
			}
		}
		.style7-content {
			flex: 1;
			position: relative;

			@include min-break($break-small) {
				padding-right: 15%;
			}
			@include min-break($break-medium) {
				padding-right: 25%;
			}
			.thb-post-arrow {
				display: none;
				position: absolute;
				top: 50%;
				right: 0;
				@include translateY(-50%);

				@include min-break($break-small) {
					display: block;
				}
				svg {
					fill: rgba($black,0.2);
					@include translateX(-20%);
					@include transition(all .15s linear);
					.bar {
						fill: $black;
						@include scale(0,1);
						@include transition(all .15s linear);
					}
				}
			}
		}
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
		&:hover {
			.style7-content .thb-post-arrow {
				svg {
					@include translateX(0%);
					fill: $black;
					.bar {
						opacity: 1;
						@include scale(1,1);
					}
				}
			}
		}
	} /* End .style7 */
	&.style8 {
    display: flex;
    flex-direction: column;
    border: 1px solid #e8e9ea;
    border-radius: 4px;
    position: relative;
    padding: 15px 20px;
    margin-bottom: 30px;

    @include min-break($break-small) {
      padding: 40px 45px;
    }
    @include min-break($break-medium) {
    	margin-bottom: 40px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      z-index: -1;
      opacity: 0;
      @extend .quick-transition;
      @include box-shadow(0 4px 18px rgba(#000,0.07));
    }

    .post-category {
      font-size: 12px;
      font-weight: 600;
      @extend .quick-transition;
      a {
        color: #9fa2a4;
      }
    }
    .style8-container {
      height: 100%;
      @extend .quick-transition;
    }

    .post-title {
      h3 {
        font-size: 20px;
        font-weight: 600;
      }
    }

    .post-content {
      font-size: 14px;
      opacity: 0;
      @extend .quick-transition;
      p {
        font-size: inherit;
      }
    }
    .style8-meta {
      position: relative;
      overflow: hidden;
      min-height: 16px;
      .post-meta {
        @extend .quick-transition;
      }
      .post-meta,
      .style8-link {
      	font-size: 12px;
      }

      .style8-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0;
        text-transform: uppercase;
        font-weight: 600;
        @include translateY(50%);
        @extend .quick-transition;

        a {
          color: $color2;
        }
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }
      .post-category {
        opacity: 0;
        @include translateY(-15px);

        + .style8-container {
          @include translateY(-30px);
        }
      }
      .post-content {
        opacity: 1;
      }

      .style8-meta {
      	.post-meta {
          @include translateY(-50%);
          opacity: 0;
        }
        .style8-link {
        	@include translateY(0%);
        	opacity: 1;
        }
      }
    }
  } // .style8
  &.style9 {
    display: block;
    padding-top: 30px;
    border-bottom: 1px solid rgba(#000,0.1);

    .style9-title {
      padding-right: 50px;
      margin-bottom: 30px;
      position: relative;
      .post-category {
        margin-bottom: 20px;
        letter-spacing: 0.07em;
      }

      .post-title {
        h4 {
          text-transform: uppercase;
          letter-spacing: 0.07em;
          margin-bottom: 15px;

          a {
            @extend .mid-transition;
          }
        }
      }
      .post-meta {
        font-size: 12px;
      }

      .style9-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 22px;
        border: 2px solid rgba(#000,0.18);
        cursor: pointer;
        @include translateY(-50%);
        @extend .mid-transition;
        svg {
          width: 26px;
          @extend .mid-transition;
          @include rotateZ(-90deg);
          .handle {
            @include translateX(8px);
          }

          .bar {
            display: none;
          }
        }
        &:hover {
          border-color: $color2;
        }
      }
    }

    .style9-content {
      height: auto;
      max-height: 0;
      overflow: hidden;
      @extend .mid-transition;

      .style9-readmore {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        letter-spacing: 0.07em;
      }
    }
    &.active {
      .style9-content {
        max-height: 400px;
        padding-bottom: 30px;
      }
      .post-title a {
        color: $color2;
      }

      .style9-arrow {
    	  border-color: $color2;

      	svg {
          fill: $color2;
          @include transform(rotateZ(-90deg) rotateY(180deg));

          .handle {
            @include translateX(10px);
          }
        }
      }
    }
  } // .style9
}

/* Article Detail Styles */
.post-content-container {
	@include min-break($break-medium) {
		padding-right: 60px;
	}
}
.post-detail {
	.post-title {
		.post-category {
			font-weight: 500;
			font-size: 12px;
			a {
				display: inline-block;
			}
		}
		.entry-title {
			word-wrap: break-word;
			line-height: 1.1;
			font-weight: 500;
			margin-bottom: 30px;
		}
		.post-meta {
			margin-top: 5px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 400;

			a {
				font-weight: 700;
				display: inline-block;
			}
		}
	}
	.post-content {
		font-size: 20px;

		p {
			font-size: inherit;
		}
	}
	&.format-gallery {
		.post-gallery-detail {
			margin-bottom: 90px;
		}
		.thb-carousel {
			figure {
				height: 75vh;
				max-height: 600px;

				img {
					height: 100%;
					object-fit:cover;
					@include scale(1);
				}
			}
			.slick-dots-wrapper {
				position: absolute;
				bottom: -30px;
				left: 0;
				width: 100%;
			}
		}


		.thb-overlay-caption {
			figcaption {
				top: auto;
				bottom: 15px;
				left: 15px;
				@include min-break($break-small) {
					top: auto;
					bottom: 40px;
					left: 40px;
				}
			}
		}
	}
	&.style1-detail {
		.post-gallery {
			.post-title {
				.post-category {
					color: #fff;
					a {
						color: #fff;
					}
				}
				.entry-title {
					color: #fff;
				}
				.post-meta {
					color: #fff;
					a {
						color: #fff;
					}
				}
			}
		}

		&.format-video,
		&.format-gallery {
			.post-gallery-detail {
				padding: 0;
			}
			.post-title {
				margin-bottom: 60px;

				h1 {
					font-size: 42px;
				}
			}
		}
	} // .style1-detail
	&.style2-detail {
		.entry-header {
      margin-bottom: 50px;

      h1.entry-title {
        font-size: 40px;
      }
    }
    .thb-carousel figure {
      height: 50vh;
    }

    .post-gallery-detail {
      padding-bottom: 0;
      min-height: 0;
      margin-bottom: 50px;
    }
  } // .style2-detail
	&:hover {
		.post-gallery-detail .parallax_bg img {
			@include scale(1);
		}
	}

	.post-gallery-detail {
		background: $color1;
		padding-bottom: 15vh;
		margin-bottom: 30px;
		border-radius: 0;
		min-height: 60vh;
		@include min-break($break-small) {
			margin-bottom: 60px;
		}
		@include min-break($break-medium) {
			margin-bottom: 90px;
		}
		.parallax_bg {
			opacity: 0.7;

			img {
				height: 100%;
				object-fit:cover;
				@include scale(1);
			}
		}
		.lateral-header & {
			padding-top: 15vh;
		}
	}
	.entry-footer {
		text-align: center;
		border-bottom: 1px solid #efefef;
		padding: 20px 0;
		margin-bottom: 30px;
		@include min-break($break-small) {
			padding: 40px 0;
			margin-bottom: 40px;
		}
	}
}
.post-gallery {
	&.parallax {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		padding-top: 5vh;
		img {
			width: 100%;
		}
		.parallax_bg {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center center;
			position: absolute;
			background-attachment: fixed;
			top: 0;
			left: 0;
			z-index: 0;
			will-change: transform;
			transform: scale(1.1);
			&.animate-scale-in {
				@include animation(post-gallery-scale-in 1s 1 forwards);
			}

			@keyframes post-gallery-scale-in {
				0% {
			    transform: scale(1.1);
				}
				100% {
			    transform: scale(1);
				}
			}
		}
		.post-title {
			width: 100%;
			z-index: 2;
			text-align: center;
		}

	}
}

.scroll-bottom {
	position: absolute !important;
	bottom: 0;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	text-align: center;
	z-index: 30;
	cursor: pointer;
	&.style1 {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			height: 50px;
			width: 1px;
			background: $color1;
			will-change: transform;
			@include transform-origin(0,0);
			@extend .quick-transition;
		}
		&>div {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 1px;

			&:before {
				content: '';
				width: 10px;
				height: 1px;
				background: $color1;
				position: absolute;
				bottom: 30%;
				right: 0;
				will-change: transform;
				@include transform(rotateZ(45deg) scaleX(0));
				@include transform-origin(100%,100%);
				@extend .quick-transition;
			}
			&:after {
				content: '';
				width: 10px;
				height: 1px;
				background: $color1;
				position: absolute;
				bottom: 30%;
				left: 2px;
				will-change: transform;
				@include transform(rotateZ(-45deg) scaleX(0));
				@include transform-origin(0,100%);
				@extend .quick-transition;
			}
		}
		&:hover {
			&:before {
				@include scaleY(0.7);
			}
			&>div {
				&:before {
					@include transform(rotateZ(45deg) scaleX(1));
					@include transition-delay(0.1s);
				}
				&:after {
					@include transform(rotateZ(-45deg) scaleX(1));
					@include transition-delay(0.1s);
				}
			}
		}
		.single-portfolio.light-title &,
		&.light {
			&:before,
			&>div:before,
			&>div:after {
				background: #fff;
			}
		}
	} // .style1
	&.style2 {
		bottom: 15px;
		border-radius: 14px;
		border: 2px solid rgba($color1,0.4);
		@extend .quick-transition;
		@include scale(0.75);

		@include min-break($break-small) {
			bottom: 30px;
			@include scale(1);
		}
		&:hover {
			border-color: rgba($color1,0.8);
		}
		div {
			position: absolute;
			top: 8px;
			left: 12px;
			width: 2px;
			height: 4px;
			background: $color1;
			border-radius: 4px;

			@include animation(thb-scrollanimation 2s infinite);
		}

		.single-portfolio.light-title &,
		&.light {
			border-color: rgba(255,255,255,0.4);

			div {
				background: #fff;
			}
			&:hover {
				border-color: rgba(255,255,255,0.8);
			}
		}
	} // .style2
	&.style3 {

		&>div {
			position: relative;
			display: inline-block;
			height: 50px;
			width: 1px;

			&:before {
				content: '';
				width: 16px;
				height: 2px;
				background: $color1;
				position: absolute;
				bottom: 50%;
				right: 1px;
				will-change: transform;
				@include transform(rotateZ(45deg) scaleX(0.75));
				@include transform-origin(100%,100%);
				@extend .quick-transition;
			}
			&:after {
				content: '';
				width: 16px;
				height: 2px;
				background: $color1;
				position: absolute;
				bottom: 50%;
				left: 1px;
				will-change: transform;
				@include transform(rotateZ(-45deg) scaleX(0.75));
				@include transform-origin(0,100%);
				@extend .quick-transition;
			}
		}
		&:hover {
			&>div {
				&:before {
					@include transform(rotateZ(45deg) scaleX(1));
					@include transition-delay(0.1s);
				}
				&:after {
					@include transform(rotateZ(-45deg) scaleX(1));
					@include transition-delay(0.1s);
				}
			}
		}
		.single-portfolio.light-title &,
		&.light {
			&>div:before,
			&>div:after {
				background: #fff;
			}
		}
	} // .style3
	&.style4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    margin-left: -40px;
    border-style: solid;
    border-width: 0 40px 40px 40px;
    border-color: transparent transparent $black transparent;
    @extend .quick-transition;
    &>div {
    	position: absolute;
    	display: inline-block;
    	height: 40px;
    	width: 1px;
    	top: 20px;
    	left: 0;
    	&:before {
    		content: '';
    		width: 16px;
    		height: 1px;
    		background: #fff;
    		position: absolute;
    		bottom: 50%;
    		right: 1px;
    		will-change: transform;
    		@include transform(rotateZ(45deg) scaleX(0.75));
    		@include transform-origin(100%,100%);
    		@extend .quick-transition;
    	}
    	&:after {
    		content: '';
    		width: 16px;
    		height: 1px;
    		background: #fff;
    		position: absolute;
    		bottom: 50%;
    		left: 1px;
    		will-change: transform;
    		@include transform(rotateZ(-45deg) scaleX(0.75));
    		@include transform-origin(0,100%);
    		@extend .quick-transition;
    	}
    }
    &.light {
    	border-color: transparent transparent #fff transparent;

    	>div {
    		&:before,
    		&:after {
          background: $black;
        }
      }
    }
    &:active {
      @include rotateX(-20deg);
      transform-style: preserve-3d;
      transform-origin: 0 100%;
    }
  } // .style4
}
@include keyframes(thb-scrollanimation) {
    0%   { height: 5px; }
    50%	 { height: 24px; }
    100% { height: 5px; }
}
.row {
	&.style8 {
		.columns {
			display: flex;
		}
	}
}
.related-posts {
	background: #f7f7f7;
	padding: 10vh 0 calc(10vh - 40px);
	.post {
		.post-gallery {
			margin-bottom: 20px;
		}
		.post-category {
			margin-bottom: 10px;
			font-size: 10px;
		}
		.post-title h3 {
			font-weight: 400;
			margin-bottom: 35px;
			font-size: 14px;
			line-height: 1.4;
		}
	}

}

/* Sharing */
.share_container {
	position: fixed;
	z-index: 999;
	padding: 0;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	display: none;
	background: rgba(#fff,0.95);
	justify-content: center;
	align-items: center;
	opacity: 0;
	will-change: opacity;
	@extend .admin-style;
	@extend .lateral-header-spacing;
	.row {
		width: 100%;
	}
	.spacer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		cursor: url('../img/close_black.png') 10 10, no-drop;
		cursor: -webkit-image-set(
			url('../img/close_black.png') 1x,
			url('../img/close_black@2x.png') 2x
			) 10 10, auto;
	}
	.vcenter {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		padding: 0 20px;
		max-width: 620px;
		margin: 0;
	}
	h4 {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 30px;
	}
	.product_copy {

		form {
			border-radius: 3px;
			display: flex;
			background: #fafafa;
			border: 1px solid $color2;
			padding: 16px 20px;
			height: 50px;
			padding: 5px;
			@extend .quick-transition;
			input {
				display: inline-flex;
				flex: 1;
				margin: 0;
				background: transparent;
				border: transparent;
				color: $black;
				padding: 0 20px;
				height: 38px;
				&::selection {
					background: rgba($color2, 0.2);
				}
			}
			.btn {
				padding: 0;
				text-align: center;
				width: 80px;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 12px;
				height: 38px;
			}
		}
	}
	.product_share {
		margin-bottom: 60px;

		.social {
			margin: 0 2px 6px;
		}
		.placeholder {
			width: auto;
		}
	}
}
/* Post Navigation */
.thb_post_nav {
	&.style1 {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		@include translateY(100%);
		background: #fff;
		padding: 20px 0;
		border-top: 1px solid #f6f6f6;
		@extend .quick-transition;
		@extend .lateral-header-spacing;
		&.active {
			@include translateY(0%);
		}
		.row {
			position: relative;
		}
		.center_link {
			display: flex;
			justify-content: center;
			align-items: center;
		}


		.post_nav_link {
			display: flex;
			flex-direction: column;
			font-size: 14px;
			@include transition(all .15s linear);
			color: $black;
			min-height: 18px;
			svg {
				position: absolute;
				top: 50%;
				fill: rgba($black,0.2);
				@include transition(all .15s linear);
				.bar {
					fill: $black;
					@include scale(0,1);
					@include transition(all .15s linear);
				}
			}
			strong {
				display: block;
				margin-bottom: 3px;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 600;
				color: #aaa;
			}
			strong,
			span {
				display: none;

				@include min-break($break-small) {
					display: block;
					overflow: hidden;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				}
			}
			&.prev {
				padding-left: 13px;

				svg {
					left: 27px;
					@include min-break($break-small) {
						left: 37px;
					}
					@include translate3d(0%, -50%, 0);

					.bar {
						transform-origin: 100% 0;
					}
				}
				&:hover {
					padding-left: 22px;

					svg {
						@include translate3d(-20%, -50%, 0);
					}
				}
			}
			&.next {
				text-align: right;
				padding-right: 13px;
				svg {
					right: 27px;
					@include min-break($break-small) {
						right: 37px;
					}
					@include translate3d(0%, -50%, 0);
				}
				&:hover {
					padding-right: 22px;

					svg {
						@include translate3d(20%, -50%, 0);
					}
				}
			}
			&:hover {
				svg {
					fill: $black;
					.bar {
						opacity: 1;
						@include scale(1,1);
					}
				}
			}
		} /* End .post_nav_link */
	} /* End .style1 */
	&.style2 {
		background: $black;
		.post_nav_link {
			display: flex;
			height: 100%;
			justify-content: center;
			align-items: center;
			position: relative;
			overflow: hidden;
			color: #fff;
			padding: 20% 0 10%;
			strong {
				position: absolute;
				top: 15px;
				font-weight: 500;
				font-size: 14px;
				z-index: 2;
				@include min-break($break-small) {
					top: 45px;
				}
			}
			.inner {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.8;
				z-index: 0;
				@extend .cover-bg;
				@extend .quick-transition;
			}
			div:not(.inner) {
				display: flex;
				z-index: 1;
				flex-direction: column;
				top: 0;
				left: 0;
				width: 100%;
				padding: 0 20%;

				span {
					font-weight: 500;
					@extend .quick-transition;
					@include min-break($break-small) {
						font-size: 26px;
					}
				}
				em {

					display: block;
					opacity: 0;
					font-size: 14px;
					font-style: normal;
					@include translateY(20px);
					@extend .quick-transition;
				}
			}
			&:hover {
				color: #fff;
				.inner {
					opacity: 0.2;
				}
				div:not(.inner) {
					span {
						@include translateY(-20px);
					}
					em {
						opacity: 1;
						@include translateY(0);
					}
				}
			}
			&.prev {
				strong {
					right: 15px;

					@include min-break($break-small) {
						right: 45px;
					}
				}
				div {
					text-align: right;
				}
			}
			&.next {
				strong {
					left: 15px;

					@include min-break($break-small) {
						left: 45px;
					}
				}
			}
		}
	} /* End .style2 */
}
.share-post-link {
	font-size: 14px;

	svg {
		margin-right: 5px;
	}
}
