/* Mobile Menu */
#mobile-menu {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 110;
	padding: 50px;
	width: 320px;
	max-width: 100%;
	overflow: hidden;
	right:0;
	background: #fff;

	will-change: transform;
	@extend .admin-style;

	&.style1 {
		@include translate3d(100%, 0, 0);

		.thb-header-style-style6 & {
			@extend .left-align-mobile-menu;

		}
	}


	.thb-header-style-style7 & {
		right: auto;
		left: 0;
		border-right: 1px solid #ededed;
		@include translate3d(-100%, 0, 0);
		@include min-break($break-small) {
			@include translate3d(calc(-100% + 70px), 0, 0);
			width: 420px;
			padding-right: 100px;
		}
		.thb-mobile-close {
			display: none;
		}
		.mobile-toggle-holder {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 70px;
			padding: 30px 15px;
			text-align: center;
			strong {
				display: none;
			}
		}
		.style7-label {
			display: none;
			position: absolute;
			top: 50%;
			right: 15px;
			font-size: 14px;
			line-height: 1;
			font-weight: 500;
			text-transform: uppercase;
			color: $black;
			@include transform(translateY(-50%) rotateZ(-90deg));

			@include min-break($break-small) {
				display: block;
			}
		}
		&.dark {
			border-right: 1px solid transparent;
			.style7-label {
				color: #fff;
			}
			.mobile-toggle-holder .mobile-toggle span {
				background: #fff;
			}
		}
	}
	.thb-header-style-style8 & {
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		transform-origin: 0 0;
		@include transform(translate3d(0, 0, 0) scale(1,0));
		@include min-break($break-small) {
			width: 94%;
			left: 6%;
		}
	}
	.logolink {
		margin-bottom: 30px;
	}
	.custom_scroll {
		display: flex;
		flex-direction: column;
	}
	.thb-mobile-search {
		margin-bottom: 20px;
    max-width: 200px;
		input[type="text"] {
			height: 42px;
			padding: 12px 15px;
		}
		.submit {
			right: 5px;
			top: calc(50% + 1px);
			svg {
				width: 14px;
			}
		}
	}
	.thb-mobile-language-switcher {
		margin-bottom: 30px;
		a {
			font-size: 14px;
			text-transform: capitalize;
			opacity: 0.6;
			position: relative;
			color: $color1;
			margin-right: 10px;
			&:after {
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				position: absolute;
				left: 0;
				bottom: -2px;
				background: $color1;
				@include transition(transform .25s $transition);
				@include transform-origin(right, center);
				@include scale(0,1);
			}

			&.active,
			&:hover {
				opacity: 1;

				&:after {
					@include transform-origin(left, center);
					@include scale(1,1);
				}
			}
		}
	}

	/* Mobile Menu Footer */
	.mobile-menu-top {
		flex: 1;
	}
	.menu-footer {
		font-size: 12px;

		p {
			font-size: inherit;

		}
		a {
			color: rgba($black, 0.4);

			&:hover {
				color: rgba($black, 1);
			}
		}
	}
	.socials {
		a {
			display: inline-flex;
			margin-right: 10px;
			color: rgba($black, 0.4);

			&:hover {
				color: rgba($black, 1);
			}
		}
	}
	&.dark {
		background: $black;

		.thb-mobile-search {
			input[type="text"] {
		    background: transparent;
		    border-color: rgba(255,255,255,0.1);

				@include input-placeholder {
					color: rgba(#fff, 0.25);
				}
			}
			.submit svg {
			  fill: #fff;
			}
		}
		.thb-mobile-close span {
			background: rgba(#fff, 0.6);

			&:before {
				background: #fff;
			}
		}
		.thb-mobile-language-switcher a {
			color: #fff;
		}
		.thb-mobile-language-switcher a:after {
			background: #fff;
		}
		.thb-mobile-menu>li>a {
			color: #fff;

			&:hover {
				color: $color2;
			}
		}
		.thb-mobile-menu li.menu-item-has-children>a .thb-arrow div {
			background: rgba(#fff, 0.7);
		}
		.sub-menu a {
			color: rgba(#fff, 0.75);

			&:hover {
				color: $color2;
			}
		}

		.thb-secondary-bar {
			background: rgba(#fff, 0.7);
		}

		.thb-secondary-menu a {
			color: rgba(#fff, 0.6);

			&:hover {
				color: $color2;
			}
		}
		.menu-footer a {
			color: #fff;
		}
		.menu-footer {
			color: rgba(#fff, 0.75);
		}
		.socials a {
			color: rgba(#fff, 0.4);

			&:hover {
				color: #fff;
			}
		}
	} /* End .dark */
	&.style2 {
		display: none;
		visibility: hidden;
		width: 100%;
		opacity: 0;
		padding: 10vh 30px;
		text-align: center;
		@include scale(0.95);

		.custom_scroll {
			flex: 1;
		}
		.mobile-menu-top {
	    display: flex;
	    justify-content: center;
	    align-items: center;
			flex-direction: column;
		}
		.thb-mobile-menu li {
			&.menu-item-has-children {
				>a {
					padding-left: 28px;
				}
			}
			>a {
				justify-content: center;
			}
			.sub-menu {
				margin-left: 0;
			}
		}


		.thb-secondary-menu {
			li {
				display: block;

				@include min-break($break-small) {
					display: inline-block;
					margin: 0 15px;
				}
			}
		}
	} /* End .style2 */
	&.style3 {
    width: 100vw;
    padding: 10%;
    @include translate3d(100%, 0, 0);
    @include min-break($break-small) {
      padding: 0;
    }
    .menubg-placeholder {
    	position: fixed;
    	top: 0;
    	left: 0;
      width: 30vw;
      display: none;
      @include translate3d(-100%, 0, 0);
      @include min-break($break-small) {
        display: block;
      }
    }
    .custom_scroll {
      @include min-break($break-small) {
        padding: 6%;
        margin-left: 30vw;
      }
    }
    .thb-mobile-menu {
      >li {
        &:first-child {
          a {
            padding-top: 0;
          }
        }
        >a {
          font-size: 40px;
        }
      }
    }
    .mobile-menu-bottom {
      .thb-secondary-menu {
        @include min-break($break-small) {
        	li {
            display: inline-block;
            margin-right: 20px;
          }
        }
      }
    }
  } /* End .style3 */

  .menubg-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-size: cover;
    pointer-events:none;
	}
}
/* Left Align */
.left-align-mobile-menu {
	right: auto;
	left: 0;
	@include translate3d(-100%, 0, 0);
}

/* Mobile Menu */
.thb-mobile-menu {
	line-height: 1;
	margin: 0 0 40px;
	padding: 0;
	list-style: none;
	&>li {
		&>a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-transform: none;
			position: relative;
			font-size: 20px;
			padding: 13px 0;
			&:not(:hover) {
				color: lighten($black, 30%);
			}
		}

	}
	li {
    &.menu-item-has-children {
    	&>a {
    		.thb-arrow {
    			display: inline-flex;
    			margin-left: 15px;
    			position: relative;
    			height: 17px;
    			width: 15px;
    			padding: 5px 2px;
    			div {
    				height: 1px;
    				display: block;
    				width: 6px;
    				position: absolute;
    				left: 4px;
    				top: 7px;
    				background: lighten($black, 30%);

    				&:nth-child(1) {
    					@include transform-origin(0%, 0%);
    					@include transform(rotateZ(40deg));
    				}
    				&:nth-child(2) {
    					left: auto;
    					right: 3px;
    					@include transform-origin(100%, 0%);
    					@include transform(rotateZ(-40deg));
    				}
    			}
    		}
    		&:hover {
    			.thb-arrow div {
    				background: $color2;
    			}
    		}
    	}
    }
  }

  .sub-menu {
		display: none;
		font-size: 14px;
		margin-left: 25px;
		list-style: none;

		a {
			display: block;
			padding: 8px 0;
			&:not(:hover) {
				color: lighten($black, 20%);
			}
		}
	}
}
.thb-secondary-bar {
	content: '';
	display: block;
	height: 1px;
	background: $black;
	width: 100%;
	transform-origin: 0 0;
	@include scale(0,1);
}
.thb-secondary-menu {

	padding-top: 40px;
	list-style: none;
	position: relative;


	a {
		display: block;
		font-size: 14px;
		line-height: 1;
		padding: 10px 0;
		color: rgba($black, 0.6);

		&:hover {
			color: $color2;
		}
	}
}

/* Mobile Menu Icon */
.mobile-toggle-holder {
	cursor: pointer;
	align-items: center;
	.mobile-toggle {
		display: inline-flex;
		width: 16px;
		height: 12px;
		align-items: center;
		transition: none;
		vertical-align: middle;
		position: relative;
		span {
			display: block;
			position: absolute;
			width: 16px;
			height: 1px;
			background: $black;
			content: " ";
			left: 0;
			&:nth-child(1) {
				top: 0px;
			}
			&:nth-child(2) {
				top: 5px;
			}
			&:nth-child(3) {
				top: 10px;
			}
		}
	}
	strong {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		font-size: 14px;
		font-weight: 400;
		margin-right: 15px;
		line-height: 1;
		.close-label {
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 100%;
			height: 100%;
		}
	}
	&.style1 {
		.mobile-toggle {
			&>span {

				&:nth-child(1) {
					transform-origin: 0 0;
				}
				&:nth-child(2) {
					@include transition(width .25s $transition);
				}
				&:nth-child(3) {
					transform-origin: 0 100%;
				}
			}
		}
		&:hover {
			.mobile-toggle>span:nth-child(2) {
				width: 200%;
			}
		}
	} /* Style1 End */
	&.style2 {
		.mobile-toggle {
			width: 26px;
			height: 14px;

			span {
				width: 26px;
				height: 2px;
				left: auto;
				right: 0;
				@extend .linear-quick-transition;
				&:nth-child(1) {
					top: 0px;
					transform-origin: 0 0;
				}
				&:nth-child(2) {
					top: 6px;
					width: 21px;
					@include transition-delay(0s);
				}
				&:nth-child(3) {
					top: 12px;
					width: 17px;
					transform-origin: 0 100%;
					@include transition-delay(0.05s);
				}
			}
		}
		&:hover {
			.mobile-toggle>span {
				width: 26px;
				&:nth-child(2) {
					@include transition-delay(0.05s);
				}
				&:nth-child(3) {
					@include transition-delay(0s);
				}
			}
		}
		&.active {
			.mobile-toggle>span {
				width: 26px;
				left: 0;
				right: auto;
				@include transition-duration(0s);
				@include transition-delay(0s);
			}
		}
	} /* Style2 End */
	&.style4 {
		.mobile-toggle {
			width: 25px;
			overflow: hidden;
			&>span {

				width: 25px;
				height: 2px;
				background: none !important;
				@extend .mid-transition;
				&:before,
				&:after {
          content: '';
          background: $color1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 2px;
          width: 100%;

        }
        &:after {
          left: calc(100% + 15px);
        }

        &:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					top: 8px;

					&:before {
            left: calc(-100% - 15px);
          }
          &:after {
            left: 0;
          }
        }
			}
		}
		&:hover {
      .mobile-toggle>span {
        &:nth-child(1) {
        	@include translateX(calc(-100% - 15px));
        }
        &:nth-child(3) {
        	@include transition-delay(0.1s);
        	@include translateX(calc(100% + 15px));
        }
      }
    }
  } /* Style4 End */
} /* Mobile Toggle Holder End */

.thb-mobile-close {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 40;
	@include scale(0);
	@include transition-duration(0s);
	div {
		display: block;
		width: 16px;
		height: 16px;
		position: relative;

		span {
			height: 1px;
			display: block;
			width: 16px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -8px;
			background: lighten($black, 60%);
			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background: $black;
				@include transform-origin(0%, 0%);
				@include scale(0,1);
				@extend .quick-transition;


			}
			&:nth-child(1) {
				@include transform(rotateZ(45deg));
			}
			&:nth-child(2) {
				@include transform(rotateZ(-45deg));

				&:before {
					@include transition-delay(0.1s);
				}
			}
		}
	}
	&:hover {
		div span:before	{
			@include scale(1,1);
		}
	}
} /* End Mobile Close */
