body {
	line-height: 1.4;
	color: #535353;

	&.footer-effect-on {
		@include max-break(1023px) {
			padding-bottom: 0 !important;
		}
	}
}

a {
	color: $black;
	text-decoration-skip: ink;
	@extend .quick-transition;
	&:hover {
		color: $color2;
	}
	&:focus {
		outline: none;
	}
}
p {
	font-size: 18px;
	margin-bottom: 1.55rem;
	word-spacing: 0.001em;
	font-feature-settings:"kern" 1;
	font-kerning: normal;
}
.full-width-row {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}
.full-height {
	display: flex;
	min-height: 100vh;
}
.row {
	background-size: cover;
	@extend .general-shadow-styles;
	&:before,
	&:after {
		display: none !important;
	}
	&.mpc-row {
		display: flex;
	}
	&.thb-arrow-enabled,
	&.thb-divider-enabled,
	&.thb-overlay-enabled {
		position: relative;
	}
	&.thb-divider-enabled,
	&.thb-overlay-enabled {

		>.columns {
			z-index: 2;
		}
	}
	&.row-o-full-height {
		display: flex;
		min-height: 100vh;

		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  /* IE10+ specific styles go here */
		   height: 100vh;
		}
	}
	&.row-o-columns-bottom {
		align-items: flex-end;
	}
	&.row-o-columns-middle {
		align-items: center;
	}
	&.row-o-content-middle {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&.row-o-content-bottom {
		.vc_column-inner {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&.thb_video_play_button_enabled:not(.thb_video_active) {
		>div:not(.columns) {
			video {
				visibility: hidden !important;
			}
		}
	}
	&.max_width {
	  max-width: 90rem !important;
	  padding: 0;
	  margin: 0 auto;
	  @include min-break($break-small) {
	  	padding: 0 35px;
	  }
	}
	@include min-break($break-small) {
		padding: 0 35px;

		.row:not(.max_width) {
			padding:0;
		}
	}
	.row {
		&.no-padding {
			@extend .no-padding;
		}
	}
	&.full-width-row {
	   @extend .full-width-row;
	}
	&.no-column-padding {
		margin: auto;
		&>.columns {
			padding: 0;
		}
	}
	&.no-row-padding {
		padding: 0;
	}
	&.low-padding {
		@include min-break($break-medium) {
			margin: 0 -15px;

			.columns {
				padding: 0 15px;
			}
		}
	}
	.columns {
		.wpb_wrapper {
			width: 100%;
		}
	}
	&.thb_video_bg {
		position: relative;
		overflow: hidden;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;

		.columns {
			z-index: 5;
		}
		.thb-row-video-bg {
			position: absolute;
			top: 50%;
			left: 50%;
			min-width: 100%;
			min-height: 100%;
			z-index: -1;
			transform: translate3d(-50%, -50%, 0);
		}
		.thb_video_overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			pointer-events: none;
			transform: translateZ(0);
		}
	}
	.thb_video_play {
		display: inline-block;
		width: 32px;
		height: 32px;
		z-index: 20;

		@include min-break($break-medium) {
			width: 64px;
			height: 64px;
		}
		svg {
			width: 32px;
			height: 32px;
			@include min-break($break-medium) {
				width: 64px;
				height: 64px;
			}
			.play,
			.pause {
				fill: #fff;
			}
			.play {
				display: block;
			}
			.pause {
				display: none;
			}
			&.playing {
				.play {
					display: none;
				}
				.pause {
					display: block;
				}
			}
		}
	}
	.thb-row-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }
  &.vc_parallax {
    .thb-row-overlay {
    	z-index: 1;
    }
  }

  .thb-divider-container {
		position: absolute;
		top: auto;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		@include translateZ(0);
		pointer-events: none;


		.thb-svg-divider {
	    width: 100%;
	    left: 0;
	    bottom: -1px;
	    height: 100%;
	    position: absolute;
		}
		&[data-position="top"] {
			top: -1px;
			bottom: auto;
			transform: rotate(180deg);
			.thb-svg-divider {
				bottom: auto;
				top: -1px;
			}
		}
		&.second[data-position="both"] {
			top: -1px;
			bottom: auto;
			transform: rotate(180deg);
			.thb-svg-divider {
				bottom: auto;
				top: -1px;
			}
		}
		&.waves_opacity {
			.thb-svg-divider {
				path {
					&:nth-child(2) {
						fill-opacity: 0.15;
					}
					&:nth-child(3) {
						fill-opacity: 0.3;
					}
				}
			}
		}
	}
}
figure {
	margin: 0;
	padding: 0;
}
#wrapper {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;

	[role="main"] {
		display: flex;
		flex: 1;
		flex-direction: column;
		z-index: 30;
		background: #fff;
		overflow: hidden;

		@include ie11() {
			display: block;
			flex: none;
		}
		&>.row {
			width: 100%;
		}
		@extend .lateral-header-spacing;
		.header-lateral & {
			padding-top: 15vh;
		}

		.footer-effect-on.footer-shadow-light & {
			@include box-shadow(0 0 50px rgba(0, 0, 0, 0.1), 0 7px 40px rgba(0, 0, 0, 0.07));
		}
		.footer-effect-on.footer-shadow-heavy & {
			@include box-shadow(0 10px 40px rgba(0, 0, 0, 0.7), 0 20px 60px rgba(0, 0, 0, 0.2));
		}
		.footer-effect-on & {
			position: relative;
		}
	}
	.lateral-header-spacing {
		.thb-header-style-style7 & {

			@include min-break($break-small) {
				padding-left: 70px;
			}
		}
	}

	.click-capture {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 50;
		opacity: 0;
		visibility: hidden;
		@include background-image(radial-gradient(circle at center, rgba(0,0,0,0.05), rgba(0,0,0,0.2)));
		@extend .quick-transition;

		.thb-header-style-style7 {
				z-index: 109;
		}
	}
	&.open-menu,
	&.open-search,
	&.open-filters,
	&.open-cart,
	&.open-featured {
		.click-capture {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
		}
	}
}
/* Not Found */
.not-found {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	figure {
			display: inline-flex;
			width: 120px;
			height: 120px;
			border: 6px solid #f8f8f8;
			color: #e6e6e6;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
			border-radius: 60px;
			&:after {
				content: '!';
				font-size: 80px;
			}
	}
}
/* Preloader */
.thb-page-preloader {
	position: fixed;
	z-index: 999;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	@include user-select(none);
}

/* Front-End Editor fixes */
.compose-mode .vc_element,
.view-mode .vc_element {
  max-width: 100%;
}

/* Site Border */
.thb-borders {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	z-index: 999;
	border: 0px solid $color1;
	@extend .admin-style;

	@include max-break($break-small) {
		display: none;
	}
}
