.subheader {
  width: 100%;
  padding: 0;
  z-index: 40;
  height: 40px;
  margin: 0;
  background: #fff;
  position: absolute;
  display: none;
  font-size: 12px;
  align-items: center;
  
  > .row {
    flex: 1;
  }
  .subheader-full-width-on & {
  	&>.row {
  		max-width: none;
  	}
  }
  @include min-break($break-small) {
    display: flex;
    + .header:not(.fixed) {
      top: 40px;
    }
    .admin-bar & {
    	top: 46px;
    	
    	 + .header:not(.fixed) {
    	 	  top: 86px;
    	 	}
    	@media screen and (min-width: 783px){
    	  top: 32px;
    	  + .header:not(.fixed) {
    	  	  top: 72px;
    	  	}
    	}
    }
  }
  .subheader-right {
    text-align: right;
    font-size: 16px;
    .social {
      display: inline-block;
      width: 16px;
      text-align: center;
      + .social {
        margin-left: 8px;
      }
    }
  }
  .subheader-left {
    * {
      font-size: inherit;
      margin: 0;
      line-height: 1;
    }
    i.fa {
      margin-right: 5px;
    }
  }
  &.dark {
    background: $color1;
    color: #fff;
    
    a {
      color: #fff;
    }
  }
}