h1,h2,h3,h4,h5,h6 {
	color: $color1;
	font-family: inherit;
	letter-spacing: -0.03em;
	
	strong {
		font-weight: 400;	
	}
}
h1,
.h1 {
	font-size: 34px;
	line-height: 1.2;
	margin-bottom: 10px;
	font-weight: 600;
	@include min-break($break-medium) {
		font-size: 42px;
	}
	@include min-break($break-large) {
		font-size: 60px;
	}
	strong {
		font-weight: 400;	
	}
}
h2,
.h2 {
	font-size: 22px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: 600;
	@include min-break($break-medium) {
		font-size: 34px;
	}
}
h3 {
	font-size: 20px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: 600;
	@include min-break($break-medium) {
		font-size: 28px;
	}
}
h4 {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: 600;
	@include min-break($break-medium) {
		font-size: 24px;
	}
}
h5 {
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 20px;
	font-weight: 600;
}
h6 {
	font-size: 12px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-weight: 600;
	color: #929292;
	text-transform: uppercase;
}
hr {
	border-color: #eee;
}
ul, ol {
	margin-left: 0;
	list-style-position: outside;
	font-size: inherit;
	ul, ol {
		margin-left: 15px;
	}
	li {
		margin-bottom: 0;	
		
		&:last-child {
			margin: 0;	
		}
	}
	.post-content &,
	.pricing-description & {
    padding-left: 25px;
  }
}
p {
	small {
		font-size: 90%;	
	}
}
blockquote {
	display: block;
	padding: 5% 10%;
	border: 0;
	text-align: center;
	
	p {
		font-size: 30px;
		margin: 0;
		font-weight: 400;
		color: $color1;
		line-height: 1.3;
	}
}
cite {
	margin-top: 20px;
	color: $color1;
	font-style: normal;
	font-weight: 400;
}
code { 
	font-family: Consolas, Courier New, monospace;
	display: inline-block;
  font-size: 16px;	
}