.widget {
	color: #979797;
	margin-bottom: 35px;
	font-size: 14px;

	p {
		font-size: inherit;
	}
	.screen-reader-text {
		display: none;
	}

	&>h6 {
		font-size: 20px;
		font-weight: 400;
		color: $black;
		margin-bottom: 25px;
		text-transform: none;
		line-height: 1;
		letter-spacing: normal;
		position: relative;
		display: block;
		margin-top: 0;
		@include single-transition(all, 0.3s, linear);

		&.active {
			span:after {
				display: block;
				content: "";
				top: 1px;
				border: 4px solid transparent;
				border-top-color: $black;
			}

		}
		span {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		  position: absolute;
		  width: 30px;
		  height: 30px;
		  text-align: center;
		  font-size: 11px;
		  right: 0;
		  top: 50%;
		  margin-top: -15px;

			&:after {
				display: block;
				width: 8px;
				height: 8px;
				content: "";
				top: -3px;
				border: 4px solid transparent;
				border-bottom-color: $black;
				position: relative;
			}

			.rtl & {
				right: auto;
				left: 0;
			}
		}
	}
	abbr[title] {
		margin-left: 10px;
	}

	p {
		font-size: 13px;
	}
	img {
		border-radius: 3px;
	}
	ul {
		@extend .reset;
		li {
			margin-bottom: 10px;

			a {
				color: $color1;
			}
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	&.widget_nav_menu {
		.menu {
			.sub-menu {
				display: none;
			}
		}
	}
	&.widget_categories,
	&.widget_pages {
		.children {
			margin-top: 10px;
			@include min-break($break-small) {
				margin-left: 10px;
			}

		}
	}
	&.widget_recent_comments {
		a {
		 &:before {
		 	display: none;
		 }
		}
	}
	&.widget_recent_entries {
		.post-date {
			display: block;
	    font-size: 12px;
	    margin-top: 5px;
		}
	}

	&.widget_calendar {
		table {
			background: transparent;
			border: 0;
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
			@extend .reset;
			@include box-shadow(none);
			thead, tbody, tfoot {
				border: 1px solid rgba(0,0,0,0.07);

				.dark & {
					border-color: rgba(255,255,255,0.1);
				}
			}
			thead {
				background: transparent;
				font-size: 12px;
				th {
					padding: 13px 0;
					color: #303030;
					text-align: center;
					font-weight: 800;

					.dark & {
						color: #fff;
					}
				}
			}
			tbody {
				background: transparent;
				tr:nth-child(even) {
					background: rgba(0, 0, 0, 0.02);
				}
				td {
					font-size: 12px;
					color: #686868;
					text-align: center;
					padding: 9px 0;

					.dark & {
						color: #fff;
					}
				}
			}
			tfoot {
				background: transparent;
				margin-top: 10px;
				border-top: 1px solid rgba(0,0,0,0.07);
				tr {
					td {
						padding: 12px 14px;
						font-size: 12px;

						a {
							color: #737373;
							text-transform: uppercase;
							font-weight: 500;
						}
					}
					#next {
						text-align: right;
					}
				}
			}
			caption {
				color: #303030;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 400;
				padding: 15px 0;

				.dark & {
					color: #fff;
				}
			}
		}
	}
	&.widget_mc4wp_form_widget {
		.fieldset {
			display: flex;
		}
		p {
			margin-bottom: 25px;
		}

		.thb_single_email {
			display: inline-flex;
			border-radius: 3px 0 0 3px;
			flex: 1;
			margin: 0;
			border-right-width: 0;
			&:not(:focus) {
				border-color: rgba(0,0,0,0.17);
			}

			& + input[type="submit"] {
				display: inline-flex;
				border-radius: 0 3px 3px 0;
				padding: 0 25px;
			}
		}
	}

	&.widget_latestimages {
		li {
			margin-bottom: 20px;
		}
	}
	&.widget_thb_twitterwidget {
		.thb_tweet {
			margin-bottom: 20px;

			.thb_tweet_time {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 500;

				.light & {
					color: $color1;
				}
			}
		}
		p {
			font-size: 14px;
			margin-bottom: 5px;
			a {
				font-weight: 500;

				.light & {
					color: $color1;
				}
			}
		}
	}
	&.widget_search {
		.screen-reader-text {
			display: none;
		}
		input[type="text"] {
			width: 100%;
		}
	}
	&.widget_product_search {
    .screen-reader-text {
    	display: none;
    }
    input[type="text"] {
    	width: 100%;
    }
    button {
      display: none;
    }
  }

  &.woocommerce {
			height: auto;
			border: 0;
		}
		&.widget_layered_nav,
		&.widget_layered_nav_filters,
		&.widget_product_categories  {
			li {
				padding-left: 20px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				&:before {
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -5px;
					content: '';
					display: block;
					width: 10px;
					height: 10px;
					border-radius: 5px;
					border: 1px solid #d2d2d2;
					color: #fff;
				}
				&:hover {
					&:before {
						border-color: $color1;
					}
				}

				.count {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 24px;
					height: 20px;
					border-radius: 3px;
					background: #f3f3f3;
					color: $color1;
					font-size: 12px;
					font-weight: 500;
				}
				&.chosen,
				&.current-cat {
					&:before {
						border-color: $color1;
						background: $color1;
					}
					&:hover {
						&:before {
							background-image: url('../img/svg/x-white.svg');
						}
					}
					.count {
						background: $color1;
						color: #fff;
					}
				}
			}
		}

		&.widget_product_categories {
			li {
				&:before {
					border-radius: 0;
				}
			}
		}

		&.widget_shopping_cart {
			.product_list_widget {
				li {
					padding-right: 25px;
					margin-bottom: 30px;

					.quantity {
						margin-top: 10px;
						display: block;
					}
					.variation {
						font-size: 14px;
						color: $color1;
						margin-top: 10px;
						margin-bottom: 0;
						dt, dd {
							display: inline-block;
							margin-bottom: 5px;
							p {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		&.widget_price_filter {
			.price_slider_wrapper {
				padding-top: 5px;
			}
			.price_slider {
				height: 5px;
				background: #eaeaea;
				position: relative;
				margin-bottom: 25px;
				margin-right: 15px;
				.ui-slider-range {
					height: 5px;
					background: $color1;
					position: absolute;
				}
				.ui-slider-handle {
					display: block;
					outline: none;
					position: absolute;
					top: -5px;
					background-size: 14px 19px;
					width: 14px;
					height: 14px;
					border-radius: 7px;
					border: 3px solid $color1;
					background: #fff;
					@include transition-duration(0s);
				}
			}
			.price_slider_amount {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				font-weight: 500;
				color: $color1;
				.clear {
					display: none;
				}
				.button {
					font-size: 14px;
					font-weight: 500;
					color: $color1 !important;
					background: none !important;
					height: auto !important;
					border: 0 !important;
					padding: 0 !important;
					margin: 0 !important;
				}
			}
		}
		&.widget_product_search {
			#s {
				float: left;
			}
		}
}
.product_list_widget {
	list-style: none;
	margin: 0;
	.remove {
		display: flex;
		justify-content: center;
		align-items: 	center;
		width: 14px;
		height: 14px;
		position: absolute;
		top: 0;
		right: 0;
	}
	li {
		position: relative;
		margin-bottom: 30px;
		@extend .cf;

		&.empty {
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			color: $color1;
			margin: 30px 0;
		}
	}
	a {
		display: block;
		font-weight: 400;
		color: $color1;
		&:before {
			display: none;
		}
		.wp-post-image,
		.attachment-woocommerce_thumbnail {
			max-width: 75px;
			margin-right: 20px;
			float: left;
		}
		.product-title {
			display: block;
			margin-bottom: 10px;
		}

	}
	.woocommerce-Price-amount {
		color: #848485;
		font-size: 14px;
	}
	.quantity {
		font-size: 14px;
		color: #949494;
	}
}
