.wp-caption,
.wp-caption-text,
.sticky,
.gallery-caption,
.alignright,
.alignleft,
.aligncenter,
.bypostauthor {
	color: inherit;
}

.alignright {
    float: right;
    margin: 6px 0 14px 20px;
}
.alignleft {
    float: left;
    margin: 6px 20px 14px 0;
}
.alignright img,
.alignleft img,
.aligncenter img {
	max-width: 100%;
}
img.center {
	margin: 0 auto;
	display: block;
}
img.full {
	width: 100%;
}
.aligncenter {
	display: block;
  clear: both;
  margin: 0 auto;
}
.alignleft,
.alignright {
	@include max-break($break-small) {
		margin-bottom: 20px;
	}
}
.wp-caption {
	max-width: 100% !important;
	
	.wp-caption-text {
		display: block;
		margin: 20px 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.45;
		text-align: center;
	}
}

.gallery {
	display: block;
	margin: 0 -2px;
	float: left;
	clear: both;
	&.gallery-columns-2 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 50%;
		}
	}
	&.gallery-columns-3 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 33.33%;
		}
	}
	&.gallery-columns-4 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 50%;
		}
		@media only screen and (min-width: $break-medium) {
			width: 25%;
		}
	}
	&.gallery-columns-5 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 20%;
		}
	}
	&.gallery-columns-6 .gallery-item {
		width: 50%;
		@media only screen and (min-width: $break-small) {
			width: 33.33%;
		}
		@media only screen and (min-width: $break-medium) {
			width: 16.66%;
		}
	}
	.gallery-item {
		display: inline-block;
		width: 50%;
		padding: 0 2px;
		margin-bottom: 4px;
		
		@include single-transition(opacity, 0.2s, ease-in-out);

		&:hover {
			@include opacity(0.8);
		}
		img {
			width: 100%;
			max-width: 100%;	
		}
		a {
			line-height: 0;
			display: block;
			width: 100%;
		}
		.gallery-caption {
			display: none;
		}
	}
}
.more-link {
	display: inline-block;
	font-weight: 600;
	font-size:14px;
	text-transform: uppercase;
	color: $color2;
}
[class^="tag-cloud-link"] {
	display: inline-block;
	border: 2px solid rgba(#000,0.07);
	color: #8d8d8d;
	font-size: 12px !important;
	padding: 10px 20px;
	margin: 0 5px 9px 0;
	line-height: 1;
	font-weight: 500;
	border-radius: 500px;
	text-transform: capitalize;
	&:hover {
		background: $color2;
		border-color: $color2;
		color: #fff !important;
	}
	.article-tags & {
		padding: 13px 25px;
		margin: 0 8px 10px 0;
	}
}
.searchform {
	margin: 0;
	.searchform-bar {
		display: none;
	}
	
	fieldset {
		border: 0;
		position: relative;
		@extend .reset;
		input[type="text"],
		input[type="search"] {
			width: 100%;
			margin: 0;
			padding-right: 50px;
		}
		.submit {
			position: absolute;
			top: 50%;
			right: 10px;
			width: 30px;
			
			@include translateY(-50%);
		}
	}
}
/* Page Specific */
.page-title {
	h1 {
		margin-bottom: 40px;
	}
}
.post-content {
	&.no-vc {
		margin-bottom: 40px;
	}
}
/* Tables */
table:not(.variations):not(.shop_table):not(.group_table) {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0;
  thead,
  tbody,
  tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe; }
  caption {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold; }
  thead {
    background: #f8f8f8;
    color: #0a0a0a; }
  tfoot {
    background: #f1f1f1;
    color: #0a0a0a; }
  thead tr,
  tfoot tr {
    background: transparent; }
  thead th,
  thead td,
  tfoot th,
  tfoot td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-weight: bold;
    text-align: left; }
  tbody th,
  tbody td {
    padding: 0.5rem 0.625rem 0.625rem; }
  tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1; }
}