@import "compass/css3";
@import 'compass/css3/filter';
@import "compass/css3/user-interface";

$break-small: 640px;
$break-medium: 1024px;
$break-large: 1440px;
$break-xlarge: 1600px;
$break-grid: 1440px;

$transition: cubic-bezier(0.37, 0.31, 0.2, 0.85);
$transition: cubic-bezier(0.25,0.8,0.25,1);

$black: #090909;
$color1: #343434;
$color2: #ee9982;
$color4: #eaeaea;

$social: (
	facebook: #3b5998,
	facebook-messenger: #0084ff,
	google-plus: #dd4b39,
	linkedin: #007bb6,
	pinterest: #cb2027,
	twitter: #00aced,
	instagram: #3f729b,
	vk: #45668e,
	tumblr: #35465c,
	xing: #cfdc00,
	soundcloud: #f80,
	dribbble: #ea4c89,
	youtube: #e52d27,
	youtube-play: #e52d27,
	spotify: #7ab800,
	behance: #1769ff,
	deviantart: #4e6252,
	vimeo: #1ab7ea,
	flickr: #0063dc,
	rss: #f26522,
	whatsapp: #25d366,
	twitch: #6441a5,
	fivehundred: #0099e5,
	email: $color2,
	bandcamp: #629aa9,
	github: #4078c0,
	codepen: #fcd000,
	telegram: #0088cc,
	imdb: #f5de50
);

/*------------------------------------------------------------------
Foundation
*/
@import "foundation.scss";

/*------------------------------------------------------------------
Utilities
*/
@import "utilities.scss";

/*------------------------------------------------------------------
Structure
*/
@import "structure.scss";

/*------------------------------------------------------------------
Page Transitions
*/
@import "plugin-animsition.scss";

/*------------------------------------------------------------------
Typography
*/
@import "typography.scss";

/*------------------------------------------------------------------
Header
*/
@import "header.scss";

/*------------------------------------------------------------------
Sub-Header
*/
@import "subheader.scss";

/*------------------------------------------------------------------
Mobile Menu
*/
@import "mobilemenu.scss";

/*------------------------------------------------------------------
Blog Related
*/
@import "blog.scss";

/*------------------------------------------------------------------
Author
*/
@import "author.scss";

/*------------------------------------------------------------------
Comments
*/
@import "comments.scss";

/*------------------------------------------------------------------
Forms
*/
@import "forms.scss";
@import "shortcodes/buttons.scss";

/*------------------------------------------------------------------
Wp Specific
*/
@import "wpspecific.scss";

/*------------------------------------------------------------------
Pagination
*/
@import "pagination.scss";

/*------------------------------------------------------------------
Select2
*/
@import "plugin-select2.scss";

/*------------------------------------------------------------------
Portfolio
*/
@import "portfolio.scss";

/*------------------------------------------------------------------
Plugin - Slick
*/
@import "plugin-slick.scss";

/*------------------------------------------------------------------
Plugin - Flickity
*/
@import "plugin-flickity.scss";

/*------------------------------------------------------------------
Plugin - Perfect Scrollbar
*/
@import "plugin-ps.scss";

/*------------------------------------------------------------------
Plugin - Magnific Popup
*/
@import "plugin-mfp-settings";
@import "plugin-mfp.scss";

/*------------------------------------------------------------------
404
*/
@import "404.scss";

/*------------------------------------------------------------------
3d Image
*/
@import "thb_3dimg.scss";

/*------------------------------------------------------------------
Widgets
*/
@import "widgets.scss";

/*------------------------------------------------------------------
Shortcodes
*/
@import "shortcodes.scss";
@import "shortcodes/accordion.scss";
@import "shortcodes/bg_list.scss";
@import "shortcodes/clients.scss";
@import "shortcodes/counter.scss";
@import "shortcodes/fancybox.scss";
@import "shortcodes/flipbox.scss";
@import "shortcodes/tabs.scss";
@import "shortcodes/horizontal_list.scss";
@import "shortcodes/iconbox.scss";
@import "shortcodes/likebutton.scss";
@import "shortcodes/portfolio_slider.scss";
@import "shortcodes/pricing_table.scss";
@import "shortcodes/teammembers.scss";
@import "shortcodes/testimonials.scss";
@import "shortcodes/cookiebar.scss";

/*------------------------------------------------------------------
Side Panels
*/
@import "side-panel.scss";
@import "woocommerce-sidecart.scss";

/*------------------------------------------------------------------
WooCommerce
*/
@import "woocommerce-general.scss";
@import "woocommerce-products.scss";
@import "woocommerce-productpage.scss";
@import "woocommerce-cart.scss";
@import "woocommerce-checkout.scss";
@import "woocommerce-myaccount.scss";
@import "woocommerce-wishlist.scss";

/*------------------------------------------------------------------
Footer
*/
@import "footer.scss";
